<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CBike.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GoBike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PBike Dev.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PBike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A84913EA1EC056E600C307D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A84913F81EC05A6900C307D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A85D3C411DCEBAE800875B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A80ACC1DD1F6E800107566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A80AFB1DD1F6F400107566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8F836491DB37336001131BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8FE694B1DEDB2BE00BE4E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
